{% load i18n %}
{% load account socialaccount %}
{% providers_media_js %}
{% load static %}

<!DOCTYPE HTML>
<html>
<head>
<title>{% block title %}Безвозмездно, то есть даром{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <a class="navbar-brand" href="/">Сава</a> -->
    </div>
    <ul class="nav navbar-nav pull-right">
    	{% if request.user.is_anonymous %}
			<li><span>
				<a href="{% provider_login_url 'facebook' method='js_sdk' next=request.path %}"><img src='{% static "catalog/img/facebook.png" %}' alt='Facebook' height="40" /></a>
				<a href="{% provider_login_url 'twitter' method='js_sdk' next=request.path %}"><img src='{% static "catalog/img/twitter.png" %}' alt='Twitter' height="40" /></a>
				<a href="{% provider_login_url 'google' method='js_sdk' next=request.path %}"><img src='{% static "catalog/img/google.png" %}' alt='Google' height="40" /></a>
				<a href="{% provider_login_url 'vk' method='js_sdk' next=request.path %}"><img src='{% static "catalog/img/vk.png" %}' alt='VK' height="40" /></a>
			</span></li>
		{% else %}	
			<li><a>			
			<!-- {% if user.socialaccount_set.all.0.get_avatar_url %}
				<img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" height="auto" width="40" />		
			{% endif %} -->
			<span class="glyphicon glyphicon-user"></span>
			{% if request.user.first_name and request.user.last_name %}
				{{ request.user.first_name }} {{ request.user.last_name }}
			{% else %}
				{{ request.user }}
			{% endif %}
			</a></li>
			<li><a href='accounts/logout'>Выйти <span class="glyphicon glyphicon-log-out"></span></a></li>
		{% endif %}
    </ul>
  </div>
</nav>
{% block content %} {% endblock %}
</body>
</html>