{% load i18n %}
{% load account socialaccount %}
{% providers_media_js %}
{% load static %}
{% load taglib %}

<!DOCTYPE HTML>
<html>
<head>
<title>{% block title %}Безвозмездно, то есть даром{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{% static 'catalog/css/style.css' %}" />

</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top" style='padding-top: 5px;'>
  <div class="container-fluid">
    <div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span> 
		</button>
	    <a class="navbar-brand" href="/"><!-- <img src="{% static 'catalog/img/sava.png' %}" height='40'> -->Главная</a>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav navbar-right">
    	<li class="dropdown">
			<a class='dropdown-toggle' data-toggle='dropdown' style="cursor:pointer;">
				<span class="glyphicon glyphicon-globe"></span>&nbsp;{{ location.name }}
				<span class="caret"></span>
			</a>

			<form id="location_form" method="post" action="">
				{% csrf_token %}
            	<input type="hidden" name="location" value="" id="location"/>
			</form>

			<ul class="dropdown-menu">
			{% for place in locations %}
				<!-- {% load taglib %}
				{% ifchanged %}<li class='disabled'><i>{{ place.region|region_to_str }}</i></li>{% endifchanged %} -->
				<li><a href="" onclick="document.getElementById('location').value = {{ place.id }}; document.forms[0].submit(); return false;">
					{{ place.name }}&nbsp;{% if place.name == location.name %}<span class="glyphicon glyphicon-ok"></span>{% endif %}
				</a></li>
			{% endfor %}
	        </ul>
    	</li>

    	{% if request.user.is_anonymous %}
			<!-- <li><a><span class="glyphicon glyphicon-log-in"></span></a></li> -->
			<li><span>
				<a href="{% provider_login_url 'facebook' method='js_sdk' next=request.path %}"><img src='{% static "catalog/img/facebook.png" %}' alt='Facebook' height="40" /></a>
				<a href="{% provider_login_url 'twitter' method='js_sdk' next=request.path %}"><img src='{% static "catalog/img/twitter.png" %}' alt='Twitter' height="40" /></a>
				<a href="{% provider_login_url 'google' method='js_sdk' next=request.path %}"><img src='{% static "catalog/img/google.png" %}' alt='Google' height="40" /></a>
				<a href="{% provider_login_url 'vk' method='js_sdk' next=request.path %}"><img src='{% static "catalog/img/vk.png" %}' alt='VK' height="40" /></a>
			</span></li>
		{% else %}
			<li><a href="{% url 'catalog:my' %}">
			<span class="glyphicon glyphicon-user"></span>
			{{ request.user }}
			<sup>{{ request.user.get_karma }}</sup>
			</a></li>

			<!-- {% if user.socialaccount_set.all.0.get_avatar_url %}
			<li><a>
				<img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" height="auto" width="24" />
			</a></li>
			{% endif %} -->

			<li><a href='/accounts/logout'>Выход&nbsp;<span class="glyphicon glyphicon-log-out"></span></a></li>
		{% endif %}
    </ul>
	</div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
    {% block sidebar %}{% endblock %}
    </div>

    <div class="col-sm-6">
	    {% block main %}{% endblock %}
    </div>
  </div>
</div>

</body>
</html>