{% extends 'catalog/base.html' %}
{% block title %} Главная {% endblock %}

{% block sidebar %}
    <table class="table table-condensed">
    	{% for tag in tags %}
	    	<tr><td><a href='{% url "catalog:index" %}?search={{ tag.name }}'>{{ tag.name }}</a> ({{ tag.count }})</td></tr>
		{% endfor %} 
	</table>
{% endblock %}

{% block main %}
	    <table class="table table-condensed">
	    	<tr><td>
	    		<form method='GET' action=''>
				<div class="input-group">
					<input id="search" type="text" class="form-control" name="search" placeholder="одежда, техника, игрушки">
					<span class="input-group-addon"><button class="submit-glyph glyphicon glyphicon-search"></button></span>
				</div>
			</form>
	    	</td></tr>
	    {% for item in items %}
	    <tr><td><table class="table table-condensed">
	    	{% if request.user == item.user %}
			<tr class="pull-left">
				<td><a href="{% url 'catalog:edit_item' item.id %}"><small>Редактировать</small></a></td>
				<td><a href="{% url 'catalog:delete_item' item.id %}?next={{ request.get_full_path }}"><small>Удалить</small></a></td>
			</tr>
			{% endif %}

	    	<tr><td><a href="{% url 'catalog:detail' item.id %}">{{ item.description }}</a></td></tr>
	    	<tr><td>
	    		{% for tag in item.tags.all %}
	    			<a href='{% url "catalog:index" %}?search={{ tag.name }}' class="small">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
	    		{% endfor %}
	    	</td></tr>
	    </table></td></tr>
	    {% endfor %}	

		{% if is_paginated %}
			<tr><td><ul class="pagination">
			{% if page_obj.number > 2 %}
				<li><a href="{% if search %}{{ search }}&amp;{% else %}?{% endif %}page=1">1</a></li>
				{% if page_obj.number > 3 %}<li><a>...</a></li>{% endif %}
			{% endif %}
			{% for i in paginator.page_range %}
				{% if page_obj.number == i %}
					<li class="active"><span>{{ i }}</span></li>
				{% else %}
					{% if page_obj.number >= i|add:"-1" and page_obj.number <= i|add:"1" %}
						<li><a href="{% if search %}{{ search }}&amp;{% else %}?{% endif %}page={{ i }}">{{ i }}</a></li>
					{% endif %}
				{% endif %}
			{% endfor %}
			{% if page_obj.number < page_obj.paginator.num_pages|add:"-1" %}
				{% if page_obj.number < page_obj.paginator.num_pages|add:"-2" %}<li><a>...</a></li>{% endif %}
				<li><a href="{% if search %}{{ search }}&amp;{% else %}?{% endif %}page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
			{% endif %}
			</td></tr></ul>
		{% endif %}
	    </table>
{% endblock %}

<footer class="container-fluid">
  <p></p>
</footer>
