{% extends 'catalog/base.html' %}
{% block title %} Главная {% endblock %}

{% block sidebar %}
    <table class="table table-condensed">
      {% for tag in tags %}
	    	<tr><td><a href='{% url "catalog:index" %}?search={{ tag.name }}'>{{ tag.name }}</a> ({{ tag.count }})</td></tr>
	    {% endfor %} 
	</table>
{% endblock %}

{% block main %}
	    <table class="table table-condensed">
	    	<tr><td>
	    		<form method='GET' action=''>
				<div class="input-group">
					<input id="search" type="text" class="form-control" name="search" placeholder="одежда, техника, игрушки">
					<span class="input-group-addon"><button class="submit-glyph glyphicon glyphicon-search"></button></span>
				</div>
			</form>
	    	</td></tr>
	    {% for item in items %}
	    <tr><td><table class="table table-condensed">
	    	<tr><td><a href="{% url 'catalog:detail' item.id %}">{{ item.description }}</a></td></tr>
	    	<tr><td>
	    		{% for tag in item.tags.all %}
	    			<a href='{% url "catalog:index" %}?search={{ tag.name }}' class="small">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
	    		{% endfor %}
	    	</td></tr>
	    </table></td></tr>
	    {% endfor %}	
	    </table>
{% endblock %}

<footer class="container-fluid">
  <p></p>
</footer>
