{% extends 'catalog/base.html' %}
{% block title %} {{ item.description }} {% endblock %}

{% block sidebar %} 

{% endblock %}

{% block main %} 
{% load taglib %}

{% if request.user == item.user %}
<p>
	<a href="{% url 'catalog:edit_item' item.id %}"><small>Редактировать</small></a> 
	<a href="{% url 'catalog:delete_item' item.id %}"><small>Удалить</small></a>
</p>
{% else %}
	{% if not reques.user.anonymous and request.user|can_give_karma:item.user %}
	<form action="" method="post">
	{% csrf_token %}
		<button class="btn btn-success" type="submit" name="karma">Сказать спасибо!</button>
	</form>
	{% endif %}
{% endif %}

<div class="container-fluid">
	<div class="panel panel-default">
		<div class="panel-heading">{{ item.description }}</div>
		<div class="panel-body">
			<p>{{ item.user }}<sup>{{ item.user.get_karma }}</sup></p>
			<p>{{ item.comment }}</p>
			<p>{{ item.user.phone_formatted }}</p>
			<div>
			{% for tag in item.tags.all %}
				<a class="label label-info" href="/?search={{ tag.name }}">{{ tag.name }}</a>
			{% endfor %} 
			</div>
		</div>
	</div>	
</div>

{% endblock %}