{% extends 'catalog/base.html' %}
{% block title %} Добавить {% endblock %}

{% block sidebar %} 

{% endblock %}

{% block main %} 

{% load taglib %}

<table class="table table">
<form action="{{ request.path }}" method="post">
    {% csrf_token %}
    <tr><td>
    <div class="col-xs-12">
  		<label>Описание</label>
  		{{form.description|addcss:"form-control"}}
	</div>
	</td></tr>

	<tr><td>
	<div class="col-xs-12">
  		<label>Дополнительные сведения</label>
  		{{form.comment|addcss:"form-control"}}
	</div>
	</td></tr>

	<tr><td>
	<div class="col-xs-12">
  		<label>Ключевые слова</label>
  		{{form.tags|addcss:"form-control"}}
	</div>
	</td></tr>

	<tr><td>
	<div class="col-xs-3">
		<label>Телефон</label>
		{{form.phone|addcss:"form-control"}}		
	</div>
	</td></tr>

	<tr><td>
	<div class="col-xs-12">
		<strong>{{ form.phone.errors }}</strong>
	</div>
	</td></tr>

	<tr><td>
	<div class="col-xs-12">
		<button class="btn btn-success btn-md" type="submit">Готово!</button>
	</div>
	</td></tr>
</form>

{% endblock %}