{% extends 'catalog/base.html' %}
{% block title %} Добавить {% endblock %}

{% block sidebar %} 

{% endblock %}

{% block main %} 

{% load taglib %}
{% load thumbnail %}

<div class="container-fluid">

<form action="{{ request.path }}" method="post" enctype="multipart/form-data" >
    {% csrf_token %}
	<div class="col-sm-12 form-group">
		<h4><label for='id_description'>Описание</label></h4>
		{% if form.description.errors %}
		<div class="alert alert-warning">
			{{ form.description.errors }}
		</div>
		{% endif %}
		{{form.description|addcss:"form-control"}}
		<span class="small-gray-text">Не более 100 символов</span>
	</div>
	<div class="col-sm-12 form-group"">
		<h4><label for='id_comment'>Дополнительные сведения</label></h4>
		{{form.comment|addcss:"form-control"}}		
		<span class="small-gray-text">Не более 1 000 символов</span>
	</div>
	<div class="col-sm-12 form-group"">
		<h4><label for="id_tags">Ключевые слова</label></h4>
		{{form.tags|addcss:"form-control"}}
	</div>

	<div class="col-sm-12 form-group">
		<h4><label for="id_phone">Телефон</label></h4>
		{% if form.phone.errors %}
		<div class="col-sm-12 alert alert-warning">
			{{ form.phone.errors }}
		</div>
		{% endif %}
		<div class="col-sm-6 row">{{form.phone|addcss:"form-control"}}</div>
	</div>

<script type="text/javascript">
	function get_file_name(val){
		var file = document.getElementById(val).value;
		document.getElementById('fn_' + val).innerHTML = file;
	}
</script>

	<div class="col-sm-12 form-group">
		<h4><label for="id_images">Изображения</label></h4>
		<div id="id_images">
		{{ image_formset.management_form }}
		{% for imf in image_formset%}
			<div>
				{{ imf.id }}
				{% if imf.img.value %}
					<div class="checkbox-inline">
						<label>{{ imf.DELETE }} Удалить</label>
					</div>
					<div>
						<img src="{{imf.img.value.url}}" width="250" class="img-responsive">
					</div>
				{% else %}		
					<label for="{{ imf.img.id_for_label }}" class="btn btn-default">Выбрать файл</label> {{ imf.img|img_selector:imf.img.id_for_label }}
					<div class="fname" id="fn_{{ imf.img.id_for_label }}"></div>
				{% endif %}		
				<hr>			
			</div>
		{% endfor %}
		</div>
	</div>

	<div class="col-sm-12">
		<button class="btn btn-success btn-md pull-left" type="submit">Готово!</button>
	</div>
</form>
</div>

{% endblock %}